# Ignore files larger than 95MB for GitHub 100MB limit
documents/knowledge/EKG/31 ต.ค.65-อ.ศุภชัย.pdf
documents/knowledge/EKG/bradycardia.pdf
documents/knowledge/EKG/2 พ.ย.-อ.ศุภชัย.pdf
documents/knowledge/EKG/1 พ.ย.65-อ.ศุภชัย.pdf
documents/knowledge/TAVI/Nursing Management TAVR พว.วิยะดา.pdf
documents/knowledge/TAVI/Post TAVR Nursing care OPD follow up (Part III) พว.ศศิวรรณ.pdf
